
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags * must * be placed first, and everything else * must * follow behind! -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Crowd Counting by Using MCNN on Web Application</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
      <script type="text/javascript">
        $(document).ready(function(){
            $('#upstauts').click(function(){
                $('#imgupload').click();
            });

        });
        </script>
  </head>

  <body style="background-color:rgba(80, 84, 99, 0.19);">

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Crowd Counting by Using Multi-column Convolutional Neural Network</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Crowd Counting</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">


            </ul>
            <ul class="nav navbar-nav ">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#">About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron" style="background-color:rgba(38, 37, 33, 0.15);">
        <center>

          <form action="/updetectimg" method="post" enctype=multipart/form-data>

            <div class="head-img">
              <h2 class="lead">Please upload pictures to be detected (jpg format only)): <a id="upstauts"  class="btn btn-lg btn-primary" href="#" role="button"  >Upload and Start to Count!</a></h2>
              <input type="file" id="imgupload" name="file" style="display: none;" onchange="repair(this)">
              <input id="imgsubmit" type="submit" style="display: none;">
            </div>
            <br>
            <center>
            <div class="row" style="margin:0 16% 16% 16%;">
              <div class="col-md-12 alert alert-success" role="alert"><p style="font-size:26px;color:rgb(26,115,91);">Detect result: {{p_num}} </p></div>
              <div class="col-md-12"><img src="{{ url_for('static',filename = 'tmp/a.jpg',_t=val1) }}" alt="..." class="img-thumbnail"></div>


            </div>
            </center>
            <script>

                function repair(obj){
                    var aa = document.getElementById("upstauts");
                    aa.innerHTML='Counting in progress......Do not worry!';
                    $('#imgsubmit').click();
                }

            </script>


        </form>
        </center>

      </div>


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
